---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getAllPokemons } from "~services/pokemon";

const pokemons = await getAllPokemons()
---

<Layout title="Welcome to Astro.">
	<main class="max-w-screen-2xl w-full mx-auto">
		<h1 class="text-4xl">Selamat Datang di Pulau Pokemon</h1>
		<div class="grid grid-cols-6 gap-4 mt-8">
			{
			pokemons.map(poke=>(
			<Card body={poke.detail.types.toString()} href={`/${poke.name}`} imageUrl={poke.detail.imageUrl}
				title={poke.name} />
			))
			}
		</div>
	</main>
</Layout>
